*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nabvar, .Footer{
    background-color: blue;
    font-size: 25px;
    padding: 10px;
    color: white;
    text-align: center;
}

.contenedor{
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
}

li{
    margin: 6px 0px 6px 0px;
}

.items{
    margin: 20px;
    padding: 5px;
}

.grid-container{
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.grid-container div{
    margin: 5px;
}

.accesorio{
    width: 330px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

