*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nabvar, Footer{
    background-color: blue;
    font-size: 25px;
    padding: 10px;
    color: white;
    text-align: center;
}

.main{
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "aside head head"
    "aside head head"
    "footer footer footer";
}


ul{
    list-style: none;
}

.aside{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.head{
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.head div{
    margin: 5px;
}

.accesorio{
    width: 330px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h6{
    display: inline-block;
    opacity: 50%;
}

/*Nombre de Areas para Template*/
.nabvar{
    grid-area: nav;
}
.aside{
    grid-area: aside;
}
.head{
    grid-area: head;
}
footer{
    grid-area: footer;
}

